body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.inputCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

input {
    padding: 8px;
}

